* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header */

.container-form {
    background-color: cornflowerblue;
    border-radius: 10px;
    padding: 20px;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

}